body {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  background: linear-gradient(#a2d2ff, #efb0c9);
  color: #ffffff;
}
h1,
h2,
h4,
h3,
p {
  text-shadow: 0px 0px 1px black;
}
#bday-age {
  background: #efb0c9;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 5px;
}

#bday-date {
  background: #efb0c9;
  padding: 8px;
  border-radius: 6px;
  margin: 0px;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid #efb0c9;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gift-section {
  margin-top: 50px;
}
.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}
.gift-image {
  background-image: url("images/gift-cover.jpg");
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  margin: 0 auto;
  background-size: cover;
}
#happy:hover {
  background-image: url("images/happy.gif");
}
#hot:hover {
  background-image: url("images/hot.gif");
}
#genius:hover {
  background-image: url("images/genius.gif");
}
#badass:hover {
  background-image: url("images/badass.gif");
}
#gift-img-cheers {
  height: 200px;
}
#gift-img-cheers:hover {
  background-image: url("images/cheers.gif");
}
.learn-more {
  font-style: italic;
  margin-bottom: 20px;
}
.link {
  color: white;
}
